[design]
max-locals = 25
disable = missing-docstring, invalid-name, redefined-outer-name, too-many-instance-attributes, import-error, too-few-public-methods, no-member, not-callable, wrong-import-order
